<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>
	<!--取消Logger自身的状态打印 -->
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %c{1}:%L - %m%n</pattern>
		</encoder>
	</appender>
	<appender name="resultAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>./logs/result.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %c{1}:%L - %m%n</pattern>
		</encoder>
	</appender>
	<appender name="mainAppender" class="ch.qos.logback.core.FileAppender">
		<File>./logs/main.log</File>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %c{1}:%L - %m%n</pattern>
		</encoder>
	</appender>
	<appender name="rootAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>./logs/root.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %c{1}:%L - %m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.adu" level="DEBUG" additivity="false">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="resultAppender" />
	</logger>

	<logger name="main" level="INFO" additivity="false">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="mainAppender" />
	</logger>

	<root level="ERROR">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="rootAppender" />
	</root>
</configuration>