<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adu.spring_test.mybatis.dao.UserInfoMapper">
	<resultMap id="userInfoResultMap" type="com.adu.spring_test.mybatis.model.UserInfo" >
		<result column="sex" property="sex" jdbcType="INTEGER" typeHandler="com.adu.spring_test.mybatis.typehandler.EnumTypeHandler"/>
		<result column="prof_info" property="profInfo" jdbcType="VARCHAR" typeHandler="com.adu.spring_test.mybatis.typehandler.JsonTypeHandler"/>
	</resultMap>

	<sql id="baseCols">
		id,user_name,sex,age,prof_info,create_time,update_time
	</sql>

	<select id="queryUserById" resultMap="userInfoResultMap">
		SELECT
		<include refid="baseCols" />
		FROM user_info
		WHERE id = #{id}
	</select>

	<select id="queryUserById2" resultType="com.adu.spring_test.mybatis.model.UserInfo">
		SELECT
		<include refid="baseCols" />
		FROM user_info
		WHERE id = #{id}
	</select>

	<select id="queryUsersByIds" resultMap="userInfoResultMap">
		SELECT
		<include refid="baseCols" />
		FROM user_info
		WHERE id IN
		<foreach collection="ids" open="(" close=")" separator="," item="item">
			#{item}
		</foreach>
	</select>

	<select id="queryUserNamesByIds" resultType="map">
		SELECT id, user_name
		FROM user_info
		WHERE id IN
		<foreach collection="ids" open="(" close=")" separator="," item="item">
			#{item}
		</foreach>
	</select>

	<select id="queryAgesByUserNames" resultType="map">
		SELECT user_name, age
		FROM user_info
		WHERE user_name IN
		<foreach collection="userNameList" open="(" close=")" separator="," item="item">
			#{item}
		</foreach>
	</select>

	<select id="queryProfInfosByIds" resultType="map">
		SELECT id, prof_info
		FROM user_info
		WHERE id IN
		<foreach collection="ids" open="(" close=")" separator="," item="item">
			#{item}
		</foreach>
	</select>

	<select id="queryProfInfosByIds2" resultType="map">
		SELECT id, prof_info
		FROM user_info
		WHERE id IN
		<foreach collection="ids" open="(" close=")" separator="," item="item">
			#{item}
		</foreach>
	</select>

	<select id="queryProfInfosByIds3" resultType="map">
		SELECT id, prof_info
		FROM user_info
		WHERE id IN
		<foreach collection="ids" open="(" close=")" separator="," item="item">
			#{item}
		</foreach>
	</select>

	<select id="queryCreateTimesByIds" resultType="map">
		SELECT id, create_time
		FROM user_info
		WHERE id IN
		<foreach collection="ids" open="(" close=")" separator="," item="item">
			#{item}
		</foreach>
	</select>

	<select id="queryUsersBetweenTime" resultType="map">
		SELECT
		<include refid="baseCols" />
		FROM user_info
		WHERE create_time BETWEEN #{startTime} AND #{endTime}
	</select>

	<select id="queryUsersBetweenTime1" resultType="com.adu.spring_test.mybatis.model.UserInfo">
		SELECT
		<include refid="baseCols" />
		FROM user_info
		WHERE create_time BETWEEN #{startTime} AND #{endTime}
	</select>

	<select id="queryUserNamesBetweenTime2" resultType="string">
		SELECT user_name
		FROM user_info
		WHERE create_time BETWEEN #{startTime} AND #{endTime}
	</select>

	<insert id="saveUser" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		user_info(user_name,sex,age,prof_info)
		VALUES
		(
			#{userName},
			#{sex,typeHandler=com.adu.spring_test.mybatis.typehandler.EnumTypeHandler},
			#{age},
			#{profInfo,typeHandler=com.adu.spring_test.mybatis.typehandler.JsonTypeHandler}
		)
	</insert>

	<insert id="saveUser2" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		user_info(user_name,sex,age,prof_info)
		VALUES
		(
		#{userName},
		#{sex},
		#{age},
		#{profInfo}
		)
	</insert>

	<insert id="saveUsers" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		user_info(user_name,sex,age,prof_info)
		values
		<foreach collection="list" item="item" separator=",">
			(
				#{item.userName},
				#{item.sex,typeHandler=com.adu.spring_test.mybatis.typehandler.EnumTypeHandler},
				#{item.age},
				#{item.profInfo,typeHandler=com.adu.spring_test.mybatis.typehandler.JsonTypeHandler}
			)
		</foreach>
	</insert>

	<insert id="saveUsers2" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		user_info(user_name,sex,age,prof_info)
		values
		<foreach collection="list" item="item" separator=",">
			(
			#{item.userName},
			#{item.sex},
			#{item.age},
			#{item.profInfo}
			)
		</foreach>
	</insert>

	<delete id="deleteById">
		DELETE FROM user_info WHERE id = #{id}
	</delete>

	<delete id="deleteByIds">
		DELETE FROM user_info
		WHERE id IN
		<foreach collection="list" open="(" close=")" item="item"  separator=",">
			#{item}
		</foreach>
	</delete>

</mapper>